
<suite name="Suite">
<groups>
	<run>
		<include name = "smokeTest"/>;
	</run>
</groups>
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.actitime.testScript.ProjectModule"/>
      <class name="com.actitime.testScript.TaskModule"/>
      <class name="com.actitime.testScript.CustomerModule"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
