
<suite name="Suite" parallel = 'tests'>
  <test thread-count="2" name="TestBlock1">
    <classes>
      <class name="com.actitime.testScript.CustomerModule"/>
    </classes>
  </test> 
   <test thread-count="2" name="TestBlock2">
    <classes>
      <class name="com.actitime.testScript.ReportModule"/>
    </classes>
  </test> 
</suite> 